div.demo-basket {    
    padding: 15px;
    background-color: #f6f6f6;
    color: #000;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 8px 8px 7px;
}

.demo-basket-image {
    max-height: 100px;
}