<div class="navbar-template" ng-controller="viaMobileNavBarController2">
	<button ng-click="vm.goBack()" class="button button-clear header-item nav-left-button" ng-disabled="vm.isSavingInProgress" ng-style="{'color':$root.appTheme.NavBarItemColor}">
		<span ng-show="vm.isEditingDetailPage && vm.isDetailTabSelected == true">
			Cancel
		</span>
		<span ng-show="!vm.isEditingDetailPage && vm.canGoBack">
			<i class="icon ion-ios-arrow-back"></i>
		</span>
		<span ng-show="!vm.canGoBack">
			<i class="icon ion-navicon"></i>
		</span>
	</button>
	
	<div class="title title-left header-item">
		{{ pageTitle }}
	</div>

	<button class="button button-icon" ng-click="vm.launchInteractionLauncher()" ng-if="vm.interactionLauncherEnabled" ng-style="{'color':$root.appTheme.NavBarItemColor}">
		<span ng-if="!vm.customerInteractionId">
			<i class="icon ion-ionic"></i>
		</span>
		<span ng-if="vm.customerInteractionId">
			<i class="icon ion-log-out"></i>
		</span>			
	</button>

	<button class="button button-icon" ng-if="vm.customerInteractionId && vm.customerInteractionAccountId" ng-style="{'color':$root.appTheme.NavBarItemColor}">
		<span>
			<i class="icon ion-card"></i> Verified
		</span>			
	</button>

	<button class="button button-icon nav-bot-button" ng-if="vm.isCMTBotEnabled" ng-click="vm.launchCMTBot()" ng-style="{'color':$root.appTheme.NavBarItemColor}">
		<span ng-class="{'cmt-bot-icon-nav-bar': vm.vlocityCMTBotNotficationFlag !== true }">
			<img class="cmt-bot-icon-img" src="img/CMTChatbot.png" />
		</span>			
	</button>				
	<button class="button button-icon nav-right-button" ng-click="vm.verifyCustomer()" ng-if="vm.customerInteractionId && !vm.customerInteractionAccountId" ng-style="{'color':$root.appTheme.NavBarItemColor}">
		<span>
			<i class="icon ion-person"></i>
		</span>			
	</button>		
		
	<button class="button button-icon nav-right-button" ng-click="vm.editSaveDetail()" ng-disabled="vm.isSavingInProgress" ng-if="vm.isDetailDataLoaded" ng-show="vm.isDetailTabSelected === true" ng-style="{'color':$root.appTheme.NavBarItemColor}">
		<span class="icon icon-custom-edit" ng-show="!vm.isEditingDetailPage">
			Edit
		</span>
		<span ng-show="vm.isEditingDetailPage">
			Save
		</span>
	</button>
	<button class="button button-icon nav-right-button" ng-show="vm.navButtonPath" ng-data-url="{{vm.navButtonPath}}" ng-click="vm.goToPage(vm.navButtonPath)" ng-style="{'color':$root.appTheme.NavBarItemColor}">
		<span>
			<i class="icon" ng-class="vm.navButtonIcon"></i>
		</span>
	</button>
</div>