<section class="console-card active" data-card="{{uniqueLayoutId}}-card-{{cardIndex}}" ng-class="{selected:isSelected(cardIndex)}" hotkey-layout-card>
    <div class="card-top" ng-click="performFlyout(uniqueLayoutId + '-card-'+cardIndex)">
        <!--
        <div>
            <h2 tooltip-placement="bottom" tooltip="{{obj.Name}}">
                {{data.title}}
            </h2>
        </div>
        -->

        <div class="row">
            <div class="column1">
                <p>{{data.obj.Event_Date_Time__c | date:'MM/dd/yyyy'}}</p>
            </div>  
                
            <div class="column2">
                <p>{{data.obj.Transaction_Type__c}}</p>
            </div>

            <div class="column3">
                <p>{{data.obj.Transaction_Description__c}}</p>
            </div>
            
            <div class="column4">
                
                <p ng-if="data.obj.Transaction_Type__c=='Data Usage'">{{data.obj.Data_Usage__c}} {{data.obj.Data_Usage_Measure__c}}</p>

                <p ng-if="data.obj.Transaction_Type__c=='Monthly Plan Charge'">${{data.obj.Charge_Amount__c}}</p>

                <p ng-if="data.obj.Transaction_Type__c=='Usage Event'">Used:{{data.obj.Balance_Used__c}}-Remaining:{{data.obj.Balance_Remaining__c}}</p>

                <p ng-if="data.obj.Transaction_Type__c=='Balance TopUp Charge'">Added:{{data.obj.Balance_Added__c}}-Remaining:{{data.obj.Balance_Remaining__c}}</p>

            </div>
        </div>     
    </div>
</section>