/* Selectable Items */
.vlc-slds-selectableItem {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 8px 8px 7px;
}
.vlc-slds-selectableItem:hover {
  background: #D6DBDF;  /* light-grey hover */
}