.demo-selectable-offer-tile {
    border: 2px solid;
    height: 500px;
}
.demo-selectable-offer-tile .img {
    width: 95%;
}
.demo-selectable-offer-image-container {
    height: 50%;
}
.demo-selectable-offer-text {
    height: 30%;
}
.demo-selectable-offer-price {
    height: 10%;
}
.demo-selectable-offer-buttons {
    height: 10%;
}